@media screen and (max-width: 768px){
    .br-pc{
        display:none;
    }
    .br-sp{
        display:block;
    }
    p{
        line-height: 1.5;
    }
    .flex-box{
        display:block;
    }
    .section_ttl{
        margin-bottom: 75px;
        padding: 0px 20px;
        width: 100%;
    font-size: 1.5rem;

    }
    .article_ttl h2{
        width:90%;
        font-size: 1.2rem;
    }
    .article_ttl img{
        margin-bottom: 50px;
        width: 90%;
    }
    .nav{
        width: 90%;
        margin: 0 auto 75px auto;
        padding: 25px;
    }
    .mainlist li a,
    .sublist li a{
        line-height: 1.8em;;
    }
    .company{
        margin-bottom: 100px;
    }
    .company h3{
        margin: 0 auto 50px auto;
    }
    .company table{
        width: 100%;
        margin: 20px auto 0;
    }
    .company table th{
        width: 33%;
        text-align: left;
        font-weight: 700;
    }
    .company table td{
        padding: 3%;
        text-align: left;
    }
    .company_chart{
    text-align:center;
    display:block;
    margin: auto;
    }
    .company img{
    width: 100%;
    }
    /* event about */
    .event_about table{
        width:100%;
    }
    .event_about table th{
        width:33%;
    }
    .event_aboutWrap,.event_aboutTxt,.event_aboutWrap img{
        width:100%;
        position: static;
    }
    .event_aboutWrap{
        margin:75px 0;
    }
    .event_aboutTxt{
        margin-bottom: 25px;
    }

    /* reason */
    .reason_txt{
        width:100%;
        padding: 3% 5% 7% 5%;
    }
    .reason div::after{
        width:100%
    }
    .reason img{
        width:100%
    }
    
    .client_goal_txt{
        width:100%;
        margin: 0 0 30px 0;
    }
    .client_goal img{
        width:100%;
    }
    .client_goal_txt:before{
        content: "";
        position: absolute;
        bottom: -132px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0;
        height: 0;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 30px solid #f2f5f7;
    }
/* time problem */
.time_problem img,.time_problem_txt{
    width:100%
}
.time_problem_txt{
margin: 25px 0 0 0;
}
.time_problem p{
    margin: 0 0 1em 0;
}
.time_problem_txt:before{
    content: "";
    position: absolute;
    top: -31px;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 30px solid #fff;
    transform: rotate(0deg);
    z-index: 2;
}
.time_problem_txt:after{
    content: "";
    position: absolute;
    top: -15px;
    right: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    width: 30px;
    height: 30px;
    border: 2px solid;
    border-color: #1a3b67 #1a3b67 transparent transparent;
    transform: rotate(-45deg);
}

/* process */
.process img{
    width:100%;
}
.process_chart{
    width: 100%;
}
.points_before{
    width: 75%;
}
.process_chart dl dd{
    padding: 15px 5%;
}
.process_wrap> p{
    width:100%;
}
.points li{
    padding:5%;  
}
.points li h6{
    padding-left: 50px;
}
.points li span{
    top: 22px;
    left: 20px;
    }
.video iframe{
    width:100%;
}
.timetable_clientTtl{
    display:block;
}
.timetable_clientTtl div{
    display: flex;
    justify-content: space-around;
}
.timetable_clientTtl p{
    margin:2%;
}

.timetable_clientwrap,
.timetable_withusMainWrap,
.timetable_withusSubWrap{
    width:100%;
}
.timetable_client >dl:first-of-type dt::after,
.timetable_withusMain >dl:first-of-type dt::after,
.timetable_withusSub >dl:first-of-type dt::after{
    width:40px;
}
.flow_pointTxt{
    width:100%;
    padding:5%;
}
.timetable_clientwrap dt h3,
.timetable_withusMainWrap dt h5,
.timetable_withusSubWrap dt h5{
    font-size:1.1rem;
}
.timetable_clientwrap dt p,
.timetable_withusMainWrap dt p,
.timetable_withusSubWrap dt p{
    padding: 28px 16px;
}
.timetable_clientwrap:nth-of-type(7) dt p{
    padding: 60px 16px;
}
.timetable_withusMainWrap:nth-of-type(1) dt p, .timetable_withusMainWrap:nth-of-type(5) dt p, .timetable_withusMainWrap:nth-of-type(9) dt p, .timetable_withusMainWrap:nth-of-type(10) dt p{
    padding: 60px 16px;
}
.timetable_withusSubWrap:nth-of-type(1) dt p,
.timetable_withusSubWrap:nth-of-type(3) dt p,
.timetable_withusSubWrap:nth-of-type(4) dt p,
.timetable_withusSubWrap:nth-of-type(5) dt p{
    padding:60px 16px;
}
.timetable_withusSubWrap:nth-of-type(2) dt p{
    padding: 107px 16px;
}
.timetable_clientwrap dd p,
.timetable_withusMainWrap dd p,
.timetable_withusSubWrap dd p{
    font-size:1rem;
}
.flow_client img,
.flow_withus img,
.timetable_clientTtl,
.trouble{
    width:100%;
}
.flow_withus h4{
    width: 200px;
    margin: 50px auto;
}
.flow_withus h4:after{
    content: "";
    position: absolute;
    bottom: -80px;
    right: 0;
    left: 0;
    width: 0;
    height: 0;
    border-top: 21px solid #c1272d;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    margin: auto;
}
.flow_withus h4:last-of-type::after{
    border-top: 30px solid #006464;
    border-left: 100px solid transparent;
    bottom:-89px;
}
.good_pointTxt{
    width:100%;
    padding: 5%;
    margin:75px auto;
}
.good_point img{
    width:100%;
}


.from_withusTxt{
    width:100%;
    padding: 5%;
}
/* prof */
.prof_clientWrap{
    display:block;
}
.prof_clientTxt,.photo_client{
    width:100%;
}
.prof_withus h3{
    max-width:100%;
}
.prof_withusList{
    display:block;
}
.prof_withusList li{
    width:100%;
    max-width:100%;
    margin: 40px 0;
}
.prof_withusList li img{
    margin: 0 auto 25px auto;
}
.red_btn{
 width:100%;
 max-width: 300px;
 font-size: 1rem;

}
.red_btn span{
    width:80%;
}
.red_btn p{

}
.red_btn span:after{

}
.twitter_logo{
    margin:0 !important;
  }
}



